{% extends 'base.admin.html.twig' %}

{% block body %}

<h1>Finalisation du panier </h1>
   <a href="{{ asset("upload/" ~ pdffile ) }}">Download!</a>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
